.user_options_column {
  display: flex;
  flex-direction: column;
  object-fit: contain;
  box-sizing: border-box;
  width: 30%;
  /* background-color: greenyellow; */
  min-width: 260px;
}

.user_option {
  background-color: rgb(143, 75, 216);
  padding: 0.5rem 1.2rem;
  box-sizing: border-box;
  margin-bottom: 1.4rem;
  /* border: 2px rgb(18, 18, 18) solid; */
}

@media (max-width: 890px) {
  .user_options_column {
    display: flex;
    flex-direction: column;
    object-fit: contain;
    box-sizing: border-box;
    width: 100%;
    min-width: 0px;
    /* background-color: greenyellow; */
  }
}

.user_option:hover {
  background-color: rgb(85, 44, 129);
  cursor: pointer;
}

.user_option_text {
  font-size: 2em;
  color: white;
  margin: 0px;
}
