.user_options_column {
  display: flex;
  flex-direction: column;
  height: 100%;
  object-fit: contain;
  box-sizing: content-box;
  margin-right: 30px;
}

.user_option {
  background-color: rgb(143, 75, 216);
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  /* border: 2px rgb(18, 18, 18) solid; */
}

.user_option:hover {
  background-color: rgb(85, 44, 129);
  cursor: pointer;
}

.user_option_text {
  font-size: 2em;
  color: white;
  margin: 0px;
}
