.register_page {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register_form {
  display: flex;
  flex-direction: column;
  background-color: rgb(53, 52, 52);
  padding: 30px;
  gap: 20px;
  align-items: center;
}

.title {
  color: rgb(147, 75, 224);
  font-size: 3.5em;
}

.input_row {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  box-sizing: border-box;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
.input_icon {
  object-fit: contain;
  height: 30px;
}

.register_buttons_row {
  display: flex;
  width: 100%;
  gap: 10px;
}

.register_button {
  border: 0;
  background-color: rgb(143, 75, 216);
  padding: 10px;
  flex-grow: 1;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.5rem;
  max-width: 50%;
}

.register_button:hover {
  cursor: pointer;
}

.unselected_register_button {
  background-color: rgb(220, 218, 218);
  color: black;
}

.register_input {
  font-size: 1rem;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  color: black;
  width: 300px;
  font-size: 1em;
  background: transparent;
}

input:focus {
  border: 0;
  outline: none;
}

.forgot_password_text {
  line-height: normal;
  font-size: 1rem;
  text-decoration: underline;
  align-self: flex-end;
  color: rgb(217, 215, 215);
}

.forgot_password_text:hover {
  cursor: pointer;
}

.space {
  height: 20px;
}

.user_type_checkbox_label {
  align-self: flex-end;
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.user_type_checkbox {
  /* display: none; */
  appearance: none;
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 15%;
  background-color: white;
  cursor: pointer;
}

.user_type_checkbox:checked {
  background-image: url("../../public/check_mark.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.seller_account_text {
  color: rgb(217, 215, 215);
  font-size: 1rem;
  font-weight: 700;
  text-decoration: underline;
}
