.add_product_to_database_page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.no_margin {
  margin: 0px;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

@font-face {
  font-family: thiccboy;
  src: url("../../assets/fonts/THICCCBOI-Black.ttf");
}

.normal_button {
  background-color: rebeccapurple;
  color: white;
  font-size: 2em;
  padding: 5px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}

.normal_button:hover {
  cursor: pointer;
}

.add_product_button {
  background-color: rebeccapurple;
  color: white;
  font-size: 2em;
  padding: 5px;
  box-sizing: border-box;
}

.add_product_button:hover {
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.file_input_label {
  box-sizing: border-box;
  padding: 5px;
  color-scheme: rebeccapurple;
}
