.input_label_row {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.input_label_text {
  margin: 0;
  margin-right: 0.8em;
  font-size: 2rem;
  text-transform: capitalize;
}

.image_button {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

input[type="file"] {
  display: none;
}

.input_text {
  font-size: 1.5rem;
  background-color: rgb(82, 82, 82);
  padding: 0.7em;
  color: white;
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.455));
}

.button_with_image_text {
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(71, 58, 70);
  border: 2px;
  border-style: solid;
  border-color: rgb(82, 80, 80);
}

.margin_down_for_button {
  margin-bottom: 10px;
}

.uploaded_image {
  object-fit: contain;
  height: 100px;
  margin-right: 10px;
}

.input_buttons_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button_with_image_text:hover {
  cursor: pointer;
}
