.search_page {
  height: 100vh;
  width: 100%;
  display: flex;
  padding: 4em 6em;
  gap: 2em;
}

.category_selector_column,
.price_filter_container {
  z-index: 1;
  background-color: rgb(68, 68, 75);
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: fit-content;
  gap: 1em;
}

.left_column_search_page {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 2em;
}

.price_filter_container {
  z-index: 1;
}

.search_results_column_search_page {
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: rgb(68, 68, 75);
  padding: 1.5em;
  width: 100%;
  gap: 1em;
  height: fit-content;
}

.search_details_column {
  display: flex;
  flex-direction: column;
}

.search_details_text {
  color: white;
  font-size: 2rem;
}

.search_details_result_text {
  color: white;
  text-decoration: underline;
}

.search_page_products_container {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  gap: 2rem;
}

.filter_button_search_page {
  background-color: rgb(143, 75, 216);
  outline: 0;
  border: 0;
  padding: 0.5em;
  font-size: 3rem;
  font-weight: 700;
  width: 100%;
}

.filter_button_search_page:hover {
  cursor: pointer;
}

.product_short_display_in_search_page {
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 25rem;
  box-sizing: border-box;
  background-color: rgb(143, 75, 216);
  margin: 0;
  align-items: start;
  width: 31%;
  flex-shrink: 1;
  padding: 1em;
  filter: drop-shadow(0 0 0.4rem rgba(0, 0, 0, 0.455));
}

/* .product_short_display_in_search_page .product_short_display_text {
  font-size: 1.5rem;
  line-height: normal;
} */
