.profile_page {
  display: flex;
  align-items: start;
  justify-content: start;
  /* flex-direction: column; */
  height: 100vh;
  width: 100%;
  position: relative;
  padding-left: 6%;
}

.row_thing {
  display: flex;
  height: 100%;
  padding-top: 1rem;
  flex-grow: 1;
}
