.profile_page {
  display: flex;
  align-items: start;
  justify-content: start;
  /* flex-direction: column; */
  height: 100vh;
  width: 100%;
  position: relative;
  padding-left: 6%;
  padding-right: 6%;
  align-self: center;
  justify-self: center;
}

.row_thing {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  margin-top: 3rem;
  flex-grow: 1;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
  /* background-color: red; */
  gap: 2rem;
  align-content: start;
  width: 100%;
}
