.products_row {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: fit-content;
  /* margin-right: 1%; */
  width: 100%;
  height: 100%;
  /* flex-wrap: wrap; */
}

.last_product_in_product_row {
  margin: 0;
}

.category_text {
  z-index: 1;
  align-self: flex-start;
  color: white;
  font-size: 2rem;
  height: fit-content;
  width: fit-content;
  font-weight: 800;
  margin: 0;
}

.category_text:hover {
  cursor: pointer;
}

.products_and_arrows_row .right_arrow_button {
  z-index: 2;
  position: absolute;
  right: 0;
  transform: translateX(50%);
  cursor: pointer;
  background-color: white;
  height: 10%;
  object-fit: contain;
  border: 0px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products_and_arrows_row .left_arrow_button {
  z-index: 2;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: white;
  height: 10%;
  object-fit: contain;
  border: 0px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_button_arrow {
  object-fit: contain;
  height: 100%;
  transform: scale(130%) translateX(-2%);
}

.right_button_arrow {
  object-fit: contain;
  height: 100%;
  transform: scale(130%) translateX(2%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.prev_products_arrow:hover {
  cursor: pointer;
}
.next_products_arrow:hover {
  cursor: pointer;
}

.products_and_arrows_row {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 29rem;
  position: relative;
}

.empty_arrow {
  width: 84px;
}
