.account_details_card {
  flex-grow: 1;
  flex-shrink: 0.1;
  background-color: rgb(143, 75, 216);
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0px 0px 0px;
  min-width: 30rem;
}

.main_text {
  margin-left: 1.3rem;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}

.information_part {
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
}

.edit_information_button {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  padding: 0.7rem;
  border-top-color: white;
  width: 100%;
  border-top: 0.2rem;
  border-top-style: solid;
}

.edit_information_button:hover {
  cursor: pointer;
  background-color: rgba(172, 121, 226, 255);
}

.edit_information_text {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}

.data_row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.profile_picture {
  object-fit: contain;
  aspect-ratio: 1/ 1;
  height: 8.6rem;
  border-radius: 100%;
  background-color: white;
  margin-right: 1.2rem;
  position: relative;
}

.text_fields_column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.field_row {
  display: flex;
  justify-content: space-between;
}

.field_row_text {
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
}

.field_row_phone_number {
  font-size: 1.3em;
  color: rgb(18, 18, 18);
}
.field_row_clickable_text {
  font-size: 1.3em;
  color: rgb(0, 234, 255);
  text-decoration: underline;
}

.field_row_clickable_text:hover {
  cursor: pointer;
}

.profile_image_container {
  position: relative;
}

.edit_image_picture {
  position: absolute;
  height: 2.5rem;
  object-fit: contain;
  bottom: 0;
  right: 0;
  transform: translateX(-0.5rem) translateY(-0.3rem);
}

.edit_image_picture:hover {
  cursor: pointer;
}

@media (max-width: 890px) {
  .account_details_card {
    flex-grow: 1;
    background-color: rgb(143, 75, 216);
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0.8rem 0px 0px 0px;
    min-width: 0px;
  }
}
