.home {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  padding: 6vh 6% 6vh 6%;
  overflow: hidden;
}

/*nu este padding jos la home page pt ca e 100vh si e mai mult content*/
