.more_options_button {
  position: absolute;
  left: 0;
  transform: translateX(6rem);
}

.dropdown_categories_row {
  background-color: rgb(57, 57, 59);
  z-index: 1;
  /* background-color: red; */
  display: flex;
  height: 46.4rem;
  gap: 1rem;
}

.dropdown_categories_row:hover {
  cursor: auto;
}

.categories_row {
  z-index: 5;
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  width: 55em;
  height: 100%;
  /* justify-content: space-between; */
  /* align-items: start; */
  row-gap: 0em;
  column-gap: 0;
}

.megacategories_name_and_icon_column {
  display: flex;
  flex-direction: column;
}
