.favorite_product {
  z-index: 1;
  display: flex;
  margin-bottom: 1.25rem;
  padding: 0.625rem;
  background-color: rgb(68, 68, 75);
}

.favorite_product_image {
  object-fit: contain;
  width: 20%;
  /* width: 15rem; */
  cursor: pointer;
}

.name_and_reviews_column {
  padding: 1.25rem 0px 1.25rem 1.25rem;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.purchase_details_column {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: auto;
  padding: 1.25rem 0px 1.25rem 1.25rem;
  justify-content: start;
  align-items: start;
  position: relative;
}

.rating_row {
  width: 50%;
}

.seller_text_row {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.sold_by_text_favorite_product {
  font-size: 1.3rem;
  /* margin-right: 0.625rem; */
}

.seller_text_favorite_product {
  overflow: hidden;
  font-size: 1.8rem;
  color: rgba(208, 180, 238, 255);
  text-decoration: underline;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: fit-content;
  margin-left: 2%;
}

.seller_text_favorite_product:hover {
  cursor: pointer;
}

.in_stock_text {
  color: rgb(118, 213, 118);
  font-size: 1.5rem;
}

.out_of_stock_text {
  color: rgb(210, 106, 106);
}

.seller_star {
  object-fit: contain;
  align-self: start;
  height: 1.6em;
}

.number_stars_text {
  font-size: 1.5em;
  font-weight: 700;
}

.seller_rating_row {
  margin-left: auto;
  display: flex;
  align-items: baseline;
  box-sizing: border-box;
}

.favorite_product_list_price_row {
  height: 25%;
  /* width: 50%; */
  margin-top: 1%;
}

.remove_from_list_row {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  align-items: center;
}
.remove_from_list_row:hover {
  cursor: pointer;
}

.remove_item_text {
  color: rgb(210, 106, 106);
  text-decoration: underline;
  font-size: 1.3em;
  margin-right: 0.625rem;
}

.trash_icon {
  object-fit: contain;
  height: 1.25rem;
}

.favorite_product_price_text {
  color: white;
}

.product_name_favorite_product {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: white;
  font-size: 2rem;
}

@media (min-width: 851px) {
  .favorite_product .rating_row {
    width: 20rem;
  }

  .favorite_product {
    height: 12rem;
  }

  .cart_image_container {
    height: 2.3rem;
    width: 2.3rem;
  }
}

@media (max-width: 850px) {
  .favorite_product {
    height: 10rem;
  }

  .in_stock_text {
    font-size: 1rem;
  }

  .sold_by_text_favorite_product {
    font-size: 1rem;
  }
  .seller_text_favorite_product {
    font-size: 1.2rem;
  }
  .number_stars_text {
    font-size: 1.2rem;
  }
  .seller_star {
    height: 1.2rem;
  }
  .rating_stars_number,
  .rating_stars_nr_reviews {
    font-size: 1.5rem;
  }

  .favorite_product .rating_row {
    width: 16rem;
  }

  .remove_item_text {
    font-size: 1.1rem;
  }

  .trash_icon {
    height: 1rem;
  }

  .favorite_product_price_text {
    font-size: 1.2rem;
  }

  .product_name_favorite_product {
    font-size: 1.5rem;
  }

  .cart_image_container {
    height: 1.9rem;
    width: 1.9rem;
  }
}

@media (max-width: 750px) {
  .favorite_product {
    height: 8rem;
  }

  .in_stock_text {
    font-size: 0.9rem;
  }

  .sold_by_text_favorite_product {
    font-size: 0.9rem;
  }
  .seller_text_favorite_product {
    font-size: 1.1rem;
  }
  .number_stars_text {
    font-size: 1.1rem;
  }
  .seller_star {
    height: 1.1rem;
  }
  .rating_stars_number,
  .rating_stars_nr_reviews {
    font-size: 1.4rem;
  }

  .favorite_product .rating_row {
    width: 13rem;
  }

  .cart_image_container {
    height: 1.3rem;
    width: 1.3rem;
  }

  .favorite_product_price_text {
    font-size: 1rem;
  }
}
