.modal_container {
  position: absolute;
  top: 5.1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.colored_background {
  background-color: rgb(57, 57, 59);
}
