.main_search_bar {
  display: flex;
  height: 100%;
  max-height: 5rem;
  /* min-height: 50px; */
  /* min-width: 16rem; */
  width: 30%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.4));
  background-color: rgb(41, 40, 40);
  border-radius: 10px;
}

.padding_handler {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  min-height: fit-content;
  padding: 6% 6% 6% 6%;
}

#search_bar_input {
  margin: 0;
  box-sizing: border-box;
  height: 60%;
  min-height: 25px;
  width: 100%;
  border: 0;
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
  height: fit-content;
  position: relative;
  background-color: transparent;
  flex-grow: 1;
}

.search_results_column {
  z-index: 99999;
  display: flex;
  flex-direction: column;
  background-color: rgb(41, 40, 40);
  height: fit-content;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(calc(max(5rem, 50px)));
}

.result_search_bar_text {
  font-size: 1.7rem;
  font-weight: 500;
  padding: 0.3em 0.7em;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.search_result_text_container {
  height: fit-content;
  /* max-height: 5rem;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden; */
}

.result_search_bar_text:hover {
  background-color: rgb(85, 85, 85);
  cursor: pointer;
}

.x_icon_search_bar {
  object-fit: contain;
  width: 7%;
  min-height: 15px;
  min-width: 10px;
  height: 100%;
}

.x_icon_search_bar:hover {
  cursor: pointer;
}

.x_icon_search_bar:focus {
  transform: scale(90%);
}

.products_categories_search_separator {
  width: 100%;
  padding: 1em;
}

.products_categories_separator_text {
  font-size: 1.7rem;
  /* font-weight: 800; */
  color: rgb(143, 75, 216);
}
