.main_search_bar {
  display: flex;
  height: 100%;
  width: 20vw;
  padding-left: 2vw;
  padding-right: 2vw;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.input {
  box-sizing: border-box;
  height: 60%;
  width: 95%;
  font-size: 1.5em;
  background-color: rgb(41, 40, 40);
  border: 0;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
}
