.nav_bar {
  display: flex;
  box-sizing: border-box;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  height: 11%;
  width: 100%;
  background-color: rgb(18, 18, 18);
  padding: 0vh 10% 1% 10%;
  margin-bottom: 3%;
  position: relative;
  border-style: solid;
  border-color: rgb(143, 75, 216);
  border-width: 0px 0px 5px 0px;
}

.logo_image {
  height: 80%;
  width: 20%;
  object-fit: contain;
  margin-right: 20px;
}

.logo_image:hover {
  cursor: pointer;
}

.more_options_image {
  height: 100%;
  object-fit: contain;
}

.more_options_button {
  position: absolute;
  left: 0;
  transform: translateX(6rem);
}
