.nav_bar {
  z-index: 10;
  display: flex;
  box-sizing: border-box;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  height: 12%;
  width: 100%;
  background-color: rgb(18, 18, 18);
  padding: 1% 10% 1% 10%;
  margin-bottom: 3%;
  position: relative;
  border-style: solid;
  border-color: rgb(143, 75, 216);
  border-width: 0px 0px 5px 0px;
  position: fixed;
  left: 0;
  top: 0;
}

.logo_image {
  height: 80%;
  width: fit-content;
  object-fit: contain;
  margin-right: 2em;
  margin-left: 2em;
}

.logo_image:hover {
  cursor: pointer;
}

.more_options_image {
  height: 100%;
  object-fit: contain;
}

.more_options_button {
  position: absolute;
  left: 0;
  transform: translateX(6rem);
}
