
.price_text{
    color: rgb(221, 224, 22);
    margin: 0;
    width: fit-content;
    white-space: nowrap;
    font-size: 2em;
}

.cart_image{
    object-fit: contain;
    height: 50%;
}

.cart_image_container{
    background-color:#e5d5f6 ;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 50%;
}

.cart_image_container :hover{
    cursor: pointer;
}

.price_row{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}