.product_icon{
    height: 400px;
    box-sizing:border-box;
    background-color:rgb(143,75,216);
    margin: 10px;
    align-items: start;
    width: 300px;
    padding: 1%;
}

.product_icon_image{
    object-fit: contain;
    height: 55%;
    width: 100%;
    box-sizing: border-box;
}

.product_icon_text{
    box-sizing: border-box;
    color: black;
    font-size: 2em;
    font-weight: 750;
    height: fit-content;
    width: fit-content;
    margin: 0;
}

.margin_bottom{
    margin-bottom: 5%;
}
