.mainSearchBar{
    height: 100%;
    background-color: blue;
    width: 20vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.input{
    height: 60%;
    width: 95%;
    font-size: 1.5em;
    border-radius: 20px;
}