.favorites_page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.favorites_text {
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

.main_column {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20%;
}

.text_and_button_row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.new_list_button {
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1em;
  background-color: rebeccapurple;
  border: 0;
  height: fit-content;
  padding: 0.5em;
  color: white;
  font-size: 1.5rem;
  font-weight: 550;
}

.favorite_lists_container_row {
  padding: 10px 35px 10px 35px;
  background-color: rgb(68, 68, 75);
  margin-bottom: 20px;
}
