.main_sales {
  height: 30rem;
  width: 100%;
  background-color: rgb(143, 75, 216);
  margin-bottom: 50px;
  position: relative;
  display: flex;
  align-items: center;
  /* cursor: pointer; */
  filter: drop-shadow(0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.446));
}

.main_sales button:nth-of-type(1) .arrow {
  object-fit: contain;
  height: 100%;
  transform: scale(130%) translateX(-2%);
}

.main_sales button:nth-of-type(2) .arrow {
  object-fit: contain;
  height: 100%;
  transform: scale(130%) translateX(2%);
}

.main_sales .contents {
  height: 100%;
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  overflow: hidden;
}

.main_sales .arrow_button {
  cursor: pointer;
  position: absolute;
  background-color: white;
  height: 70px;
  width: 70px;
  border: 0px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.main_sales .arrow_button:nth-of-type(1) {
  left: 0;
  transform: translateX(-50%);
}

.main_sales .arrow_button:nth-of-type(2) {
  right: 0;
  transform: translateX(50%);
}
