.products_offer {
  height: 100%;
  width: 100%;
  background-color: rgb(143, 75, 216);
  display: flex;
  align-items: center;
  position: relative;
  gap: 1rem;
}

.products_offer .content {
  display: flex;
  flex-direction: row;
  /* overflow: hidden; */
  height: 100%;
  width: 100%;
  gap: 2rem;
}

.products_offer h1 {
  font-size: 3rem;
  font-weight: 800;
  color: black;
  margin-bottom: 0.5rem;
}

.products_offer .description {
  max-width: 40%;
  width: 100%;
  line-height: normal;
  transform: translateY(-1rem);
}

.products_offer .description p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: white;
  font-size: 1.7rem;
  font-weight: 100;
}

.products_offer .products {
  height: 100%;
  max-width: 60%;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.products_offer .product {
  max-width: 33%;
  width: 100%;
}
