.price_text {
  margin: 0;
  width: fit-content;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 800;
  color: white;
}

.cart_image {
  object-fit: contain;
  height: 50%;
}

.cart_image_container {
  z-index: 1;
  background-color: #e5d5f6;
  box-sizing: border-box;
  width: 18%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
}

.cart_image_container:hover {
  cursor: pointer;
  transform: scale(110%);
}

.cart_image_container:active {
  background-color: #242424;
}

.price_row {
  display: flex;
  height: 10%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.price_text {
  font-size: 1.5rem;
}
