:root {
  font-family: thiccboy;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: thiccboy;
  line-height: normal;
}

@font-face {
  font-family: thiccboy;
  src: url("../../assets/fonts/THICCCBOI-Black.ttf");
}

p {
  font-family: thiccboy;
  color: rgb(18, 18, 18);
}

body {
  margin: 0;
  padding: 0;
}
