@font-face {
  font-family: "acmeregular";
  src: url("Acme-Regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("Acme-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: acmeregular;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  font-family: acmeregular, sans-serif, serif;
  line-height: normal;
}
