* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.test_page {
  height: 100vh;
  width: 100%;
  padding: 2em;
  color: #f0fff0;
  background-color: rgb(16, 16, 16);
}

.second_paragraph {
  font-size: 2em;
  color: red;
}

#text2 {
  font-style: italic;
}

p {
  color: rgb(146, 150, 146);
}
