.nav_bar_icon {
  display: flex;
  height: 100%;
  width: fit-content;
  /* min-width: 6rem; */
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
}

.nav_bar_icon :hover {
  cursor: pointer;
}

.nav_bar_icon_image {
  height: 100%;
  width: fit-content;
  object-fit: contain;
  min-width: 3rem;
  position: relative;
  top: 0;
  left: 0;
}

.navBarIconText {
  height: fit-content;
  width: fit-content;
  text-align: center;
  color: rgb(184, 181, 176);
}

.notification_text {
  color: white;
}

.cls {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: fit-content;
}

.notification_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  border-radius: 50%;
  height: 50%;
  width: 50%;
  background-color: red;
  font-size: 1.5rem;
  position: absolute;
  top: 0px;
  transform: translate(50%, -25%);
}
